.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .nav-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: white; /* Set text color to white */
    font-weight: bold; /* Make the text bold */
    padding: 10px 20px; /* Add padding to create the red rectangle */
    background-color: #b42e34; /* Set background color to red */
    border-radius: 5px; /* Add rounded edges */
    margin-right: 20px; /* Add spacing between links */
    border: 2px solid #333;
  }
  
  .nav-horizontal li {
    margin-right: 20px;
  }
  
  .nav-horizontal a {
    text-decoration: none;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .actor-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .actor-card {
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .actor-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .actor-card h3 {
    margin-top: 10px;
  }
  
  .actor-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .movie-card {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    text-align: center;
  }
  
  .movie-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  